
# HTID:13530074: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13530074:

# HTID:17894088: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /jool http://5mj4yo2xz5kmlynmwz5c7p64ecqa5ybahfpvlp5gmb5iw6e7347gahyd.onion/kodexplorer-master
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17894088:
